.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 10em;
    background-color: var(--cor-cabecalhoRodape);
    box-shadow: 0 7px 25px -5px var(--cor-hover);
    margin-bottom: 1rem;
    z-index: 4; 
}
